<div class="row">
	<div class="col-md-2">
		<%=@user.id%>
		<%=image_tag avatar_url(@user,50)%>
	</div>
	<div class="col-md-10">
		<%=@user.email%>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<% if @user == current_user %>
			<%= form_for @user, :url => profile_path(@user) do |f| %>
				<%=f.text_area :description%>
				<%=f.submit%>
			<% end %>
		<% else %>
			<%=@user.description%>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">文章</div>
</div>
<% @dishes.each do |d|%>
<div class="row">
	<div class="col-md-12"><%=d.name%></div>
</div>
<% end %>
<div class="row">
	<div class="col-md-12">評論</div>
</div>
<% @comments.each do |c|%>
<div class="row">
	<div class="col-md-12"><%=c.comment%></div>
</div>
<% end %>