<div class="main">
	<div class="row">
		<div class="col-md-12">
			<h2><%=link_to 'restaurent',dishes_path() %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"><h1><%=@dish.name%></h1></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% if @dish.realpic.exists?%>
				<%= image_tag(@dish.realpic.url(:medium))%>
			<% else%>
				none
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%=link_to 'tasted',dish_comments_path(:order=>'tasted') %>
			<%=link_to 'acid',dish_comments_path(:order=>'acid') %>
			<%=link_to 'sweet',dish_comments_path(:order=>'sweet') %>
			<%=link_to 'bitter',dish_comments_path(:order=>'bitter') %>
			<%=link_to 'spicy',dish_comments_path(:order=>'spicy') %>
			<%=link_to 'salt',dish_comments_path(:order=>'salt') %>
		</div>
	</div>
	<div class="main-comment">
		<div class="comment-form">
		<% if current_user %>
			<% url=(params[:id])? dish_comment_path(@dish,@comment):dish_comments_path%>
			<%=form_for @comment,:url=>url,:remote=>true do |f|%>
			<div class="row">
				<div class="col-md-4">
					<span class="comment-range">
					tasted:<%=f.range_field :tasted ,in: 1..10%>acid:<%=f.range_field :acid,in: 1..10%>
					</span>
				</div>
				<div class="col-md-4">
					<span class="comment-range">
					sweet:<%=f.range_field :sweet,in: 1..10%>
					bitter:<%=f.range_field :bitter,in: 1..10%>
					</span>
				</div>
				<div class="col-md-4">
					<span class="comment-range">
					spicy:<%=f.range_field :spicy,in: 1..10%>
					salt:<%=f.range_field :salt,in: 1..10%>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"><%=f.label :status%></div>
				<div class="col-md-8">
					<%= f.select(:status,[ ['posted', 2],['draft', 1]])  %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%=f.label :comment, :comment%>
					<%=f.text_area :comment%>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%=f.submit :create%>
				</div>
			</div>
			<% end %>
		<% end %>
		</div><!--comment-form-->
		<div class="comment-list">
		<% if @comments.count>0 %>
		<% @comments.each do |c|%>
		<%=render :partial => "comment_item", :locals => { :comment => c } %>
		<% end %>
		<% end %>
		</div><!--comment-list-->
		<div class="row">
			<div class="col-md-12 text-center"><%= paginate @comments %></div>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(".comment-delete").click(function(e) {
		  var strUrl = $(this).attr('href');
		  var getPara, ParaVal;
		  var aryPara = [];

		  if (strUrl.indexOf("?") != -1) {
		    var getSearch = strUrl.split("?");
		    getPara = getSearch[1].split("&");
		    for (i = 0; i < getPara.length; i++) {
		      ParaVal = getPara[i].split("=");
		      aryPara.push(ParaVal[0]);
		      aryPara[ParaVal[0]] = ParaVal[1];
		    }
		    console.log(aryPara);
		  }

		/* Act on the event */
		e.preventDefault();
			var url = $(this).attr('href').split("/");
		console.log(strUrl);

			$.ajax({
	    url: '/dishes/'+aryPara['dish_id']+'/comments/'+aryPara['id'],
	    type: 'POST',
	    data: {
	      //user_name: $('#user_name').val()
	      '_method': 'delete'
	    },
	    error: function(xhr) {
	      alert('Ajax request 發生錯誤');
	    },
	    success: function(response) {
	    	//alert('Ajax request success');
				$("#item-list"+aryPara['id']).html("");
	    }
	  });
	});
</script>