<div class="row">
	<div class="col-md-2">
		<%=@user.id%>
		<%=image_tag avatar_url(@user,50)%>
	</div>
	<div class="col-md-10">
		<%=@user.email%>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<% if current_user and @user.id==current_user.id%>
		<%=form_for @user, :url=>"#{@user.id}",:method=>'patch',:action=>'profile_edit' do |f| %>
		<%=f.text_area :description%>
		<%=f.submit%>
		<% end %>
		<% else %>
		<%=@user.description%>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">文章</div>
</div>
<% @dishes.each do |d|%>
<div class="row">
	<div class="col-md-12"><%=d.name%></div>
</div>
<% end %>
<div class="row">
	<div class="col-md-12">評論</div>
</div>
<% @comments.each do |c|%>
<div class="row">
	<div class="col-md-12"><%=c.comment%></div>
</div>
<% end %>