<div class="row">
	<div class="col-md-2">
		<%=@user.id%>
		<%=image_tag avatar_url(@user,50)%>
	</div>
	<div class="col-md-10">
		<%=@user.email%>
	</div>
</div>
<div class="row">
	<div class="col-md-12">文章</div>
</div>
<% @dishes.each do |d|%>
<div class="row">
	<div class="col-md-12"><%=d.name%><%#=link_to d.name dishes_path%></div>
</div>
<% end %>
<div class="row">
	<div class="col-md-12">評論</div>
</div>
<% @comments.each do |c|%>
<div class="row">
	<div class="col-md-12"><%=c.comment%><%#=link_to c.comment dish_comments_path(:dish_id=>c.dish_id,:id=>c.id)%>
	</div>
</div>
<% end %>