<div class="main">
	<div class="row main-title">
		<div class="col-md-12">
			<h1 class="center"><%#=@dish.id%>test restaurent</h1>
		</div>
		<div class="col-md-8">
			<div class="fb-like" data-href="http://localhost:3000/dishes" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
		<div class="col-md-4">
			<%=link_to "name" , dishes_path(:order=>:name)%>
			<%=link_to "price" , dishes_path(:order=>:price)%>
			<%=link_to "viewed" , dishes_path(:order=>:viewed)%>
			<%=link_to "comment" , dishes_path(:order=>:comments_count)%>
			<%=link_to "last_comment" , dishes_path(:order=>:comment_updated)%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% Tag.joins(:dish_tagsships).where("dish_id is not null").uniq.each do |t|%>
				<%=link_to t.name,dishes_path(:tag=>t.id)%>
			<% end %>
		</div>
	</div>
	<% @dishes.each do |d| %>
	<div class="main-list" id="main-list<%=d.id%>" >
		<div class="menu-item">
			<div class="row">
				<div class="col-md-6">
					<%=link_to d.name, dish_comments_path(d)%>
				</div>
				<div class="col-md-2">
					$<%=d.price%>
				</div>
				<div class="col-md-4">
				<span class="fa fa-comment"><%=d.comments_count%></span>
				<span class="fa fa-eye"><%=d.viewed%></span>

				<% if current_user %>
					<% if current_user.user_dishships.exists?( :dish => d ) %>
						<p class='fa fa-heart faverite' data-id="<%=d.id%>"></p>
					<% else %>
						<p class='fa fa-heart-o faverite' data-id="<%=d.id%>"></p>
					<% end %>
					<% if current_user.dish_likes.exists?( :dish => d ) %>
						<%=link_to "" ,like_dish_path(d),:remote=>:true ,:class=>'fa fa-thumbs-up like',:data=>{:like=>d.id} %>
					<% else %>
						<%=link_to "" ,like_dish_path(d),:remote=>:true  ,:class=>'fa fa-thumbs-down like',:data=>{:like=>d.id}  %>
					<% end %><%#end like%>
					<span data-likeNum="<%=d.id%>"><%=d.dish_likes.count()%></span>
					<% if d.user == current_user %>
						<%=link_to '',dishes_path(:id=>d.id),:class=>'fa fa-pencil' %>

						<%=link_to '',dish_path(d),:method=>'delete',:class=>'fa fa-trash',:remote=>true %>
					<% end %>
				<% end %>
				<%=localize(d.updated_at,:format => '%Y/%m/%d')%>
				</div>
			</div>
			<div class="row menu-des">
				<div class="col-md-10"><%=d.short_des%></div>
				<div class="col-md-2">

				</div>
			</div>
		</div><!--main-item-->
	</div>
	<% end %>
	<div class="col-md-12 text-center"><%= paginate @dishes %></div>
</div>
<div class="dish-form">
	<% if @dish %>
		<%=form_for @dish do |f|%>
		<div class="row form-group" >
			<div class="col-md-4"><%=f.label :name%></div>
			<div class="col-md-8"><%=f.text_field :name,:class=>"form-control"%></div>
		</div>
		<div class="row ">
			<div class="col-md-4"><%=f.label :price%></div>
			<div class="col-md-8"><%=f.number_field :price,:class=>"form-control"%></div>
		</div>
		<div class="row">
			<div class="col-md-4"><%=f.label :status%></div>
			<div class="col-md-8">
				<div class="btn-group">
					<%= select(:dish, :status, [ ['posted'],['draft']],{},{:class => 'form-control'}) %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"><%=f.label :tag_name %></div>
			<div class="col-md-8">
				<%#=f.collection_check_boxes(:tag_ids, Tag.all, :id, :name,{:class=>'checkbox-inline'},{:class=>'checkbox_inline'})%>
				<%=f.text_field(:tag_name )	%>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"><%=f.label :realpic%></div>
			<div class="col-md-8"><%= f.file_field :realpic %>
				<% if @dish.realpic.exists?%>
					<%=check_box_tag "_remove_reailpic","1"%>刪除照片</div>
				<% end %>
		</div>
		<div class="row">
			<div class="col-md-4"><%=f.label :short_des%></div>
			<div class="col-md-8"><%=f.text_area :short_des,:class=>'form-control'%></div>
		</div>
		<div class="row">
			<div class="col-md-6"><%=f.submit :submit,:class=>'btn btn-primary text-center'%></div>
		</div>

		<% end %>
	<% end %>
</div><!--dish-form-->
<!--form-->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=356530391028817";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">

$(".faverite").on("click",function() {
	var id=$(this).data('id')
 	$.post( "/dishes/" + id + "/faverite" )
	 	.done(function( data ) {
	 		console.log(data);
	    if(data.status=="unfaverite"){
	    	$("p[data-id='"+id+"']").removeClass('fa-heart');
	    	$("p[data-id='"+id+"']").addClass('fa-heart-o');
	    }else{
	    	$("p[data-id='"+id+"']").removeClass('fa-heart-o');
	    	$("p[data-id='"+id+"']").addClass('fa-heart');
	    }
	  });
});

</script>