
	<%=form_for @dish do |f|%>
	<div class="row">
		<div class="col-md-4"><%=f.label :name%></div>
		<div class="col-md-8"><%=f.text_field :name%></div>
	</div>
	<div class="row">
		<div class="col-md-4"><%=f.label :price%></div>
		<div class="col-md-8"><%=f.number_field :price%></div>
	</div>
	<div class="row">
		<div class="col-md-4"><%=f.label :tag_id%></div>
		<div class="col-md-8">
			<%=f.collection_check_boxes(:tag_ids, Tag.all, :id, :name)%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"><%=f.label :short_des%></div>
	</div>
	<div class="row">
		<div class="col-md-12"><%=f.text_area :short_des%></div>
	</div>
	<div class="row">
		<div class="col-md-12"><%=f.submit :create%></div>
	</div>

	<% end %>

<!--form-->
<div class="row">
	<div class="col-md-8">resrtaurants_name</div>
	<div class="col-md-4">
		<%=link_to "name" , dishes_path(:order=>:name)%>
		<%=link_to "price" , dishes_path(:order=>:price)%>
		<%=link_to "viewed" , dishes_path(:order=>:viewed)%>
	</div>
</div>
<% @dishes.each do |f| %>
<div class="row">
	<div class="col-md-8"><%=link_to "#{f.name}" ,dish_comments_path(f)%></div>
	<div class="col-md-4">
	$<%=f.price%>
	viewed:<%=f.viewed%>
	Count:<%=f.comments.count%>
	<% if f.user_id==current_user.id%>
		<%=link_to 'edit',dishes_path(:id=>f.id) %>
		<%=link_to 'delete',dish_path(:id=>f.id),:method=>'delete' %>
	<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-12"><%=f.short_des%></div>
</div>
<% end %>